<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, viewport-fit=cover">
  <meta name="data-bizType" content="antForest"/>
  <meta name="data-aspm" content="a301"/>
  <title>demo</title>
  <script>
    // rem
    (function() {
      function setHTMLFontSize() {
        var htmlFontSize = (document.documentElement.clientWidth / 375 * 100) + 'px';
        var bodyFontSize = "16px";
        var styleDom = document.createElement('style');
        styleDom.innerHTML = 'html{font-size:' + htmlFontSize + '!important;}body{font-size:' + bodyFontSize + '!important;}';
        document.getElementsByTagName('head')[0].appendChild(styleDom);
      }
      if (document.documentElement.clientWidth) {
        setHTMLFontSize();
      }
      window.addEventListener('resize', function() {
        setHTMLFontSize();
      });
    })(); 
  </script>
</head>
<body>
  <div class="canvas-wrap">
    <canvas id="J_canvas"></canvas>
  </div>

  <script src="https://a.alipayobjects.com/amui/zepto/1.1.3/zepto.js" crossorigin="anonymous"></script>
  <script src="https://gw.alipayobjects.com/os/lib/tinyjs/tiny/1.2.5/tiny.js" crossorigin="anonymous"></script>
  <script src="https://gw.alipayobjects.com/os/lib/pixi.js/5.3.7/dist/pixi.min.js"></script>
</body>
</html>